@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/100/opensanshebrew-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ambivalenti';
    src: url('fonts/ambivalenti/300/ambivalenti-tzar-aaa-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ambivalenti';
    src: url('fonts/ambivalenti/400/ambivalenti-tzar-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ambivalenti';
    src: url('fonts/ambivalenti/700/ambivalenti-tzar-aaa-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: 'opensans', arial, sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin: auto;
    margin-top: 30px;
    font-family: 'ambivalenti', arial, sans-serif;
    padding: 0px;
    filter: text-shadow(0px 5px 0px rgba(0, 0, 0, 0.5));
    animation: appear 1s ease alternate 1;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0px;
    display: block;
    font-size: 15px;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom-color: #fff;
}

.current a {
    font-weight: bold;
}

header .container {
    max-width: 500px;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/cake2.jpg) center top 38%;
    background-attachment: fixed;
    font-size: 24px;
    color: #fff;
    margin: auto;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 20px;
    position: relative;
}

.pricelist .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(img/cake10.jpg) center top 25%;
    background-attachment: fixed;
}

.product .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(img/product.jpg) center top 20%;
    background-attachment: fixed;
}

.workshop .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/recipes.jpg) center top 30%;
    background-attachment: fixed;
}

.contact .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/contact.jpeg) center top 64%;
    background-attachment: fixed;
}

.logo {
    display: block;
    margin: 10px auto;
    padding: 10px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

.container {
    width: 800px;
    margin: auto;
}

h1:after {
    content: "";
    border-bottom: 3.5px solid #f38597;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0px;
}

.pricelist h1:after {
    width: 90px;
}

.product h1:after {
    width: 120px;
}

.workshop h1:after {
    width: 110px;
}

.recipes h1:after {
    width: 120px;
}

.contact h1:after {
    width: 120px;
}

h2 {
    margin-top: 0px;
    font-weight: 400;
    font-family: 'ambivalenti', arial, sans-serif;
    font-size: 32px;
    padding: 0px;
    margin-bottom: 30px;
    margin: auto;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 17px;
    display: block;
    margin: auto;
    color: #fff;
    margin-top: 13px;
}

.button {
    text-decoration: none;
    color: white;
    background: #07bfe3;
    padding: 10px 23px;
    display: inline-block;
    border-radius: 18px;
    transition: 1s;
    font-size: 14px;
    border: 0;
}

@keyframes mybutton {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.1)
    }
}

.button:hover {
    background: #5482fa;
    color: white;
    animation: mybutton .3s linear alternate infinite;
}


.banner .container {
    margin: auto;
    text-align: center;
    background: none;
}

.features {
    text-align: center;
    background-color: #f68484;
    padding: 40px;
    color: #fff;
}

.features a {
    text-decoration: none;
}

.features a:hover img {
    animation: pluse .3s linear alternate infinite;
}

@keyframes pluse {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg)
    }
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    max-width: 800px;
    margin: auto;
}

.features img {
    max-width: 60px;
}

.features h2 {
    margin-bottom: 20px;
}

.features h2:after {
    margin: auto;
}

.features p {
    color: #fff;
}

ul {
    margin-top: 0px;
}

p {
    max-width: 150px;
    margin: auto;
    font-size: 15px;
}

.price {
    max-width: 900px;
    margin: auto;
    padding: 60px;
}

.price img {
    max-width: 80%;
}

.price .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 0;
}

.price h2 {
    margin-bottom: 20px;
    color: #07bfe3;
}

.price .price2 {
    text-align: center;
}

.price2 .button {
    background: #000;
    margin-top: 30px;
}

.price2 .button:hover {
    background: #f68484;
    color: white;
    animation: mybutton .3s linear alternate infinite;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 35px;
    font-size: 12px;
}

footer a {
    color: #07bfe3;
    font-size: 12px;
}

footer p {
    max-width: 1000px;
    font-size: 12px;
    padding: 10px;
}

footer img {
    width: 20px;
}

.social a {
    margin: 0 3px;
}

.social {
    padding: 10px;
}

.custom-shape-divider-bottom-1617375206 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617375206 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1617375206 .shape-fill {
    fill: #FFFFFF;
}

.about {
    padding-top: 20px;
    padding-bottom: 90px;
    position: relative;
    margin: auto;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: center;
    width: 800px;
}

.about img {
    max-width: 80%;
    display: block;
    margin: auto;
}

.about h2 {
    color: #07bfe3;
    content: "";
    border-bottom: 3px solid #07bfe3;
    display: table;
    padding: 0px;
    margin-top: 0px;
    font-weight: 400;
    margin: 10px;
    font-size: 38px;
}

.about p {
    max-width: 500px;
    font-size: 15px;
    margin-top: 15px;
}

.slide .container {
    display: block;
    margin: auto;
}

.custom-shape-divider-bottom-1617375300 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617375300 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1617375300 .shape-fill {
    fill: #f68484;
}

.menu {
    list-style: none;
    padding: 0px;
    columns: 1;
    width: 300px;
    margin-top: 40px;
    margin: auto;
    margin-bottom: 20px;
}

.menu li {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.gallery {
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: auto;
    margin-bottom: 50px;
}

.gallery img {
    display: block;
    margin: auto;
}

.about2 h2 {
    color: #07bfe3;
    content: "";
    border-bottom: 3px solid #07bfe3;
    width: 158px;
    padding: 0px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 35px;
}

.about2 {
    padding-top: 30px;
}

.title1 {
    font-weight: 700;
    text-align: center;
    color: #f68484;
    margin-top: 10px;
}

.price1 {
    text-align: center;
}

.gallery1 {
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: auto;
    margin-bottom: 50px;
}

.about3 h2 {
    color: #07bfe3;
    content: "";
    border-bottom: 3px solid #07bfe3;
    width: 170px;
    padding: 0px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 35px;
}

.about3 {
    padding-top: 30px;
}

.about4 h2 {
    color: #fff;
    padding: 0px;
    margin-top: 0px;
    font-weight: 400;
    margin: 0px;
    font-size: 38px;
    margin-bottom: 25px;
}

.about4 {
    padding-top: 70px;
    background: #f68484;
}

.about4 .container {
    width: 350px;
}

.about6 h2 {
    color: #07bfe3;
    font-weight: 400;
    font-size:28px;
    width: 190px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about6 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-content: center;
    width:800px;
    padding: 20px;
    padding-bottom: 10px;
}

.about6 {
    position: relative;
}

span {
    font-weight: 700;
}

label {
    display: block;
    margin-bottom: 20px;
}

label span {
    display: block;
}

input,
textarea {
    font: inherit;
    color: inherit;
    color: #000;
    border: 1px solid #fff;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.news .button {
    text-decoration: none;
    color: white;
    background: #000;
    padding: 10px 23px;
    display: inline-block;
    border-radius: 10px;
    transition: 1s;
    font-size: 14px;
    margin-bottom: 70px;
    margin-top: 12px;
}

.news .button:hover {
    background: #fff;
    color: #07bfe3;
}

input.remark {
    padding: 80px;
}

form {
    width: 350px;
    margin: auto;
}

textarea {
    height: 200px;
}

label {
    margin-bottom: 20px;
    display: block;
}

input:focus,
textarea:focus {
    outline: 0;
    background: #fff;
}

.from-wrap {
    background: #f68484;
    padding: 70px;
}

.from-wrap h2 {
    color: #fff;
    margin: auto;
    font-size: 38px;
}

.fotorama__dot.fotorama__dot {
    border-color: #f78585;
}

.fotowrap {
    max-width: 1920px;
    text-align: center;
    margin: auto;
}

.workshop .custom-shape-divider-bottom-1617375206 .shape-fill {
    fill: #f78585;
}

.from-wrap .button {
    text-decoration: none;
    color: white;
    background: #000;
    padding: 10px 23px;
    display: inline-block;
    border-radius: 15px;
    transition: 1s;
    font-size: 14px;
    border: 0;
}

.from-wrap .button:hover {
    background: #fff;
    color: #07bfe3;
}

iframe {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 90px;
}